<h1>
 Pumpbusters
</h1>
<div class="container">
<p>Type: {{type}} </p>
<p>ExchangeName: {{exchangeName}} </p>
<p>FromCurrency: {{fromCurrency}}</p>
<p>ToCurrency: {{toCurrency}}</p>
<p>Flag: {{flag}}</p>
<p>Price: {{price}}</p>
<p>LastUpdate: {{lastUpdate}}</p>
<p>LastVolume: {{lastVolume}}</p>
<p>Last Volume To: {{lastVolumeTo}}</p>
<p>LastTradeId: {{lastTradeId}}</p>
<p>Volume24h: {{volume24h}}</p>
<p>Volume 24hTo: {{volume24hTo}}</p>
<p>MaskInt: {{maskInt}}</p>

<p>this is a global variable:{{ globals}} </p>


<p> Response: {{response}}</p>

</div>