

.orders-row{
    margin-top: 20px;
}

.form-wrapper{
    margin-top: 20px;
}

.buy-pane{
    /*background-color: #59AD2F*/
}

.submit-btn {
    background-color: #596A67
}

.input-label{
    width: 40% important;
}