<form class="navbar-form navbar-left" role="search">
    <div class="row">
        <h1>Orders</h1>
    </div>
    <div class="row orders-row">
        <div class="col-md-5 buy-pane">
            <div class="row">
                <div class="pull-left">
                    BUY ANS
                </div>
                <div class="pull-right">
                    ( 0.06663279 ) BTC
                </div>
            </div>
            <div class="row form-wrapper right">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to spend</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ per ANS</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">ANS to buy</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="row orders-row col-md-6 col-md-offset-7">
                    <button type="submit" class="btn btn-default btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 sell-pane">
            <div class="row">
                <div class="pull-left">
                    SELL ANS
                </div>
                <div class="pull-right"> ( 0.06663279 ) BTC</div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to spend</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ per ANS</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to receive</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="row orders-row col-md-6 col-md-offset-7">
                    <button type="submit" class="btn btn-default btn-danger">Sell Now</button>
                </div>
            </div>
        </div>
    </div>
</form>