<form class="navbar-form navbar-left" role="search" [hidden]="isOrdersHidden()">
    <div class="row">
        <h1>Orders</h1>
    </div>
    <div class="row orders-row">
        <div class="col-md-5 buy-pane">
            <div class="row">
                <div class="pull-left">
                    BUY {{_currency}}
                </div>
                <div class="pull-right">
                    {{btcOwned}} BTC
                </div>
            </div>
            <div class="row form-wrapper right">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to spend</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ per {{_currency}}</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">{{_currency}} to buy</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="row orders-row col-md-6 col-md-offset-7">
                    <button type="submit" class="btn btn-default btn-success">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1 sell-pane">
            <div class="row">
                <div class="pull-left">
                    SELL {{_currency}}
                </div>
                <div class="pull-right"> {{currencyOwned ? currencyOwned : 0}} {{_currency}}</div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to spend</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ per {{_currency}}</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">฿ to receive</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row form-wrapper">
                <div class="row orders-row col-md-6 col-md-offset-7">
                    <button type="submit" class="btn btn-default btn-danger">Sell Now</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row form-wrapper" [hidden]="!needApiKey">
    <div class="input-group">
        <span class="input-group-addon">API KEY:</span>
        <input class="form-control" aria-label="Text input with multiple buttons" #apiInput>
        <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-success" (click)="saveApiKey(apiInput.value)">Save</button>
        </div>
    </div>
</div>