<!--<table>
    <tr>
        <td>HIGH</td>
        <td>LOW</td>
        <td>VOL</td>
    </tr>
    <tr>
        <td>BID</td>
        <td>ASK</td>
        <td>SPREAD</td>
    </tr>
</table>-->
<div [hidden]="_currency">
    <h1>No currency selected</h1>
</div>

<table class="table" [hidden]="!_currency">
    <thead>
        <h1>{{_currency}}</h1>

    </thead>
    <tbody>
        <tr>
            <th>LAST</th>
            <td>{{last}}</td>
        </tr>
        <tr>
            <th>฿ VOL</th>
            <td>{{vol}}</td>
        </tr>
        <tr>
            <th>BID</th>
            <td>{{bid}}</td>
        </tr>
        <tr>
            <th>ASK</th>
            <td>{{ask}}</td>
        </tr>
        <tr>
            <th>24H HIGH</th>
            <td>{{high}}</td>
        </tr>
        <tr>
            <th>24H LOW</th>
            <td>{{low}}</td>
        </tr>
    </tbody>
</table>