<!--<table>
    <tr>
        <td>HIGH</td>
        <td>LOW</td>
        <td>VOL</td>
    </tr>
    <tr>
        <td>BID</td>
        <td>ASK</td>
        <td>SPREAD</td>
    </tr>
</table>-->
<table class="table">
    <thead>
        <h1>ANS</h1>

    </thead>
    <tbody>
        <tr>
            <th>LAST</th>
            <td>0.00300250</td>
        </tr>
        <tr>
            <th>฿ VOL</th>
            <td>0.00300250</td>
        </tr>
        <tr>
            <th>BID</th>
            <td>0.00300250</td>
        </tr>
        <tr>
            <th>ASK</th>
            <td>0.00300250</td>
        </tr>
        <tr>
            <th>24H HIGH</th>
            <td>0.00300250</td>
        </tr>
        <tr>
            <th>24H LOW</th>
            <td>0.00300250</td>
        </tr>
    </tbody>
</table>